<div class="justify-to-rest">
  <div class="filter-buttons-div">
    <button mat-raised-button
            [color]="currentFilter === Filter.All ? 'primary' : undefined"
            (click)="setFilter(Filter.All)">
      All
    </button>
    <button mat-raised-button
            [color]="currentFilter === Filter.Future ? 'primary' : undefined"
            (click)="setFilter(Filter.Future)">
      Future
    </button>
    <button mat-raised-button
            [color]="currentFilter === Filter.Past ? 'primary' : undefined"
            (click)="setFilter(Filter.Past)">
      Past
    </button>
  </div>
</div>

<div class="justify-to-rest">
  <div class="filter-buttons-div">
    <button mat-raised-button
            (click)="redirectTo('booking')">
      Book new visit
    </button>
  </div>
</div>

<div>
  <div *ngFor="let visit of filteredVisitList" class="visit-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ visit.date }} {{visit.hour}}:00
        </mat-panel-title>
        <mat-panel-description>
          Visit with: {{ visit.doctorName }} {{ visit.doctorSurname }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="visit.prescription?.prescriptionContent">
        <p> Prescription: </p>
        <p> {{ visit.prescription?.prescriptionContent }} </p>
        <p> expiration date: {{ visit.prescription?.expirationDate }} </p>
        <p> prescription code: {{ visit.prescription?.prescriptionCode }}</p>
      </div>
      <div *ngIf="!visit.prescription?.prescriptionContent">
        <p>No prescription yet</p>
      </div>
    </mat-expansion-panel>
    <button *ngIf="isFutureVisit(visit)" mat-raised-button color="warn" (click)="cancelVisit(visit.id)">
      Cancel
    </button>
  </div>
</div>
